@{
    ViewData["Title"] = "Home";
}

<style>
    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
    }
</style>
<br />
<div class="text-center">
    <h1 class="display-4">Golf is Fire</h1>
    <h3>Golf Is Awesome</h3>
</div>
<br /><br />
<div class="text-center" style="background-color:cadetblue; width: 100%">
	<br />
	<h1>Want to learn how to play golf?</h1>
	<h3>Click the button below to unlock your golf potential.</h3>
	<br />
    <a asp-area="" asp-controller="Home" asp-action="Learn" class="btn btn-primary">Take My Money</a>
    <br /><br />
</div>
<br />
<div class="text-center" style="padding-top: 25px">
	<h1 style="text-decoration-thickness: 15px">Why Would I Ever Want To Learn To Golf?</h1>
</div>
<div style="display: flex;">
    <div class="column">
        <h5>
            You can literally go be outside and enjoy the sun while<br />
            torturing yourself with bad thoughts because you aren't<br />
            playing as well as you think you should be.
        </h5>
        <img src="~/jacobSwing.jpg" alt="My Swing" style="width: 250px; height: auto; margin: auto;">
    </div>
    <div class="column">
        <h5>
            It's also nice because you can make money while playing<br />
            in tournaments or with your friends. WARNING: This may <br />
            cause an addiction to gambling. But... money is money.
        </h5>
        <img src="~/jacobGolf.PNG" alt="My MONEYYYY" style="width: 250px; height: auto; margin: auto;">
    </div>
</div>

<br /><br />

<div class="text-center" style="background-color:cadetblue; padding-top: 25px; padding-bottom: 25px">
    <h1 style="text-decoration-thickness: 10px">
        WOW<br />
    </h1>
    <h3>
        Do you really need another reason to learn to play golf??
    </h3>
    <h5>
        fine...
    </h5>
</div>
<br /><br />
<div style="width: 100%; padding-left: 25px">
    <br />
    <h1>
        Golf is a LIFETIME sport
    </h1>
    <h5>
        This means that you can take people's money for the rest of your life.
    </h5>
    <p>
      This is a little known trade secret, so don't go spreading it around...  
    </p>
    <br />
    <h5>
        According to stats that I just made up, you could be making $500 a day by finding the <br />
        right playing partners (victims) and challenging them to a money match.
    </h5>
</div>

<br /><br />

<div class="text-center" style="background-color:cadetblue; width: 100%">
    <br />
    <h1>What are you waiting for?</h1>
    <h3>Give me your money so I can help you make money</h3>
    <p style="font-size: 12px">
        *Bigler Golf Corporation Incorporated LLC LLP Incorporated Again (long story) cannot guarantee any return on investment.
    </p>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Learn" class="btn btn-primary">Take My Money</a>
    <br /><br />
</div>