@{
    ViewData["Title"] = "Learn With Me";
}
<br />
<div class="text-center">
    <h1 class="display-4">Time To Learn From The Best</h1>
    <h3>Prepare Your Credit Card</h3>
</div>
<br />
<br />
<div class="text-center" style="background-color:cadetblue; width: 100%">
    <br />
    <h1>How Much Will It Be?</h1>
    <h3>As Much As You Can Afford</h3>
    <p>Fill out the form below to get your free estimate</p>
    <br />
</div>
<br /><br />
<div class="text-center">
    <h1 style="display: inline-flex">GET YOUR ESTIMATE</h1>
    <br /><br />
    <div class="rate-container">
        <div class="box">
            <div class="label">Hourly Rate:</div>
            <div id="hourly-rate" class="content">$229.54</div>
        </div>
        <div class="box">
            <div class="label">Calculated Result:</div>
            <div id="calculated-result" class="content">-</div>
        </div>
    </div>
    <br /><br />
    <form>
        <label>How many hours do you need?</label>
        <input id="intHours" />
        <br /><br />
        <input type="button" value="Calculate" id="btnSubmit" />
    </form>
</div>
<br />
<br />
<div class="text-center" style="background-color:cadetblue; width: 100%">
    <br />
    <h1>Like What You See?</h1>
    <h3>Click The Button Below To Give Me A Call</h3>
    <br />
    <a class="btn btn-primary" href="tel:2082706599">Call: (208)270-6599</a>
    <br /><br />
</div>
<br /><br />
<div class="text-center">
    <br />
    <h1>Hate What You See?</h1>
    <h3>Get Out Of Here. You're Not Worth My Time.</h3>
    <br />
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Take Me Back</a>
    <br /><br />
</div>